<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Join</title>
</head>
<body>
<h1 th:text="'Hello ' + (${name} ?: 'Guest') + '!'">Hello Guest!</h1>

<div class="container">
    <div>
        <table>
            <thead>
                <tr>
                    <th>#</th>
                    <th>Name</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="member: ${members}">
                    <td th:text="${member.id}">id</td>
                    <td th:text="${member.name}">name</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>