spring:
  profiles:
    active: dev

---
spring:
  config:
    activate:
      on-profile: dev
  datasource:
    url: jdbc:h2:tcp://localhost/~/Workspace/h2-test/test
    driver-class-name: org.h2.Driver
    username: sa

